@use '~src/styles/functions';

mat-spinner {
  margin: functions.compute-pixel(2) auto;
}

.forecast {
  &__table {
    width: 100%;
  }

  &__toolbar {
    height: functions.compute-pixel(6);
    font-weight: 100;
  }
}
