<mat-spinner *ngIf="!hourlyForecastMappedList;else dataLoaded"></mat-spinner>

<ng-template #dataLoaded>
  <div *ngFor="let forecast of hourlyForecastMappedList" class="forecast">
    <div class="forecast__row">
      <span>time: {{ forecast.time | date:'h:mm a'}}</span>
      <span>Avergae Temperature: {{forecast.averageTemperature.value + forecast.averageTemperature.unit }}</span>
      <span>Wind Speed: {{forecast.windSpeed.value + forecast.windSpeed.value}}</span>
    </div>
    <mat-divider></mat-divider>
  </div>
</ng-template>