<mat-toolbar color="primary" class="footer">
  <span class="footer__developer">
    Developed by<a matTooltip="portfolio" href="http://abhishekmehta.co/" target="_blank" rel="noreferrer">Abhishek</a>
  </span>

  <a matTooltip="Powered by OpenWeather" class="footer__attribution" href="https://openweathermap.org/" target="_blank"
    rel="noreferrer">
    <img src="../../../assets/icons/open_weather_logo.png" alt="Powered by OpenWeather"
      class="footer__attribution__image">
  </a>
</mat-toolbar>