@use '~src/styles/functions';
@use '~src/styles/constants';

.homepage-container {
  background-image: url('../../../assets/images/homepage_background.jpg');
  box-sizing: border-box;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: functions.compute-pixel(4);

  .accordion {
    .expansion-panel {
      background: #424242bd;
    }

    .panel-description {
      display: flex;
      justify-content: space-between;

      .temperature-value,
      .wind-strength-value {
        color: white;
      }
    }
  }
}
